

div #url {
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    display: block;
    word-wrap: break-word;
    text-align: left;
    margin: auto;
}

body {
    background-color: rgb(230, 230, 250);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div#container {
    width: 420px;
    margin: auto;
    border: 1px solid #000;
    height: 400px;
    background-color: rgb(180, 180, 200);
    padding: 10px;
    position: relative;
    text-align: center;
}

#upload {
    text-align: center;
    padding-bottom: 20px;
}

/* containing div */
.progress {
    width: 170px;
    margin: auto;
}

/* progress text */
#progress {
    text-align: center;
}

/* progress bar */
.progressbar {
    text-align: center;
    display: none;
}

.info {
    background-color: #cce;
    border: 1px solid #333;
    padding: 8px 14px 8px 14px;
    margin: 10px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#download-info {
    display: none;
}

#upload-info {
    display: none;
}

input.upload {
    -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
    box-shadow:inset 0px 1px 0px 0px #cae3fc;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color:#79bbff;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #469df5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #287ace;
}
input.upload:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
    background-color:#4197ee;
}

input.upload:active {
    position:relative;
    top:1px;
}


/* file */
div#inputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    top: 0px;
    left: 150px;
    z-index: 1;
}

input#file {
    /*pointer-events: none; */
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width: 100px;
    height: 40px;
}


